@page "/cadastrar"
@using LivrosFront.Model
@using LivrosFront.Helpers
@using System.Net.Http
@using System.Text.Json
@inject Api api
@inject NavigationManager NavManager

<PageTitle>Cadastro</PageTitle>

<h1>Cadastro de Livro</h1>

<EditForm Model="Objeto" OnSubmit="Inserir" class="row g-3">

    <div class="col-md-8">
        <label class="form-label">Título</label>
        <InputText @bind-Value="Objeto.Titulo" class="form-control" />
    </div>

    <div class="col-md-8">
        <label class="form-label">Categoria</label>
        <InputText @bind-Value="Objeto.Categoria" class="form-control" />
    </div>

    <div class="col-8">
        <label class="form-label">Autor</label>
        <InputText @bind-Value="Objeto.Autor" class="form-control" />
    </div>

    <div class="col-8">
        <label class="form-label">Descrição</label>
        <InputText @bind-Value="Objeto.Descricao" class="form-control" />
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Novo Livro</button>
    </div>
</EditForm>

@code {
    private Livro? Objeto { get; set; } = new Livro();

    private async Task Inserir()
    {
        await api.PostAsync<Livro>("/livro", Objeto);

        NavManager.NavigateTo("/listar");
    }

}
