@page "/"

<PageTitle>Home (Sobre nos)</PageTitle>

<center><h1>Bem-vindo à Livraria ADS!</h1></center>
<p>Somos apaixonados por livros e acreditamos no poder transformador da leitura. Nossa missão é oferecer uma seleção
    cuidadosamente curada de livros para leitores de todas as idades e interesses.</p>

<h2>Nossa História</h2>
<p>A Livraria ADS foi fundada em 2024 por Gabriel, João e Mayller amantes de livros que sonhavam em criar um
    espaço onde as pessoas pudessem se conectar com o mundo mágico da leitura. Desde então, nos tornamos um ponto de
    referência para a comunidade local, oferecendo uma ampla variedade de livros, eventos literários e um ambiente
    acolhedor para os amantes da leitura.</p>


<h2>Estamos comprometidos em oferecer aos nossos clientes:</h2>

<li>Uma ampla seleção de livros de alta qualidade</li>
<li>Um ambiente acolhedor e convidativo</li>
<li>Um atendimento ao cliente excepcional</li>
<li>Eventos literários e programas para todas as idades</li>
<li>Uma comunidade vibrante de amantes da leitura</li>
<br>
<center>
<p><b><i>Acreditamos que a leitura é essencial para o crescimento pessoal e para a construção de um mundo melhor. Esperamos
    que você se junte a nós na Livraria dos Sonhos e explore o mundo mágico dos livros!</i></b></p> 
<br>


<h3>Venha nos conhecer!</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14822.840907945068!2d-43.3532047!3d-21.7527569!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989c99efc4c393%3A0x8141eb7a4ce52ea!2sInstituto%20Vianna%20J%C3%BAnior!5e0!3m2!1spt-BR!2sbr!4v1718569383834!5m2!1spt-BR!2sbr" width="90%" height="450" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<p><b>Esperamos vê-lo em breve!</b></p>
</center>